/*************  ✨ Windsurf Command ⭐  *************/
# Ignore node_modules
/node_modules

# Ignore log files
/*.log

# Ignore local config files
*.env
*.config

# Ignore OS files
.DS_Store
._*
Thumbs.db
ehthumbs.db
Desktop.ini
/*******  5f80443d-f821-4875-8e90-93dece1a36b6  *******/